In [2]:
import pandas as pd

df1=pd.read_excel('file:///Users/Sana/Desktop/DVdata/Divvy2018.xlsx')

In [3]:
df1_a=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2018/Divvy_Trips_2018_Q3.csv')
df1_b=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2018/Divvy_Trips_2018_Q4.csv')

In [4]:
df_2018= pd.concat([df1,df1_a,df1_b], axis=0, ignore_index=True)

In [5]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3204831 entries, 0 to 3204830
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            int64
 2   start_time         object
 3   bikeid             int64
 4   end_time           object
 5   tripduration       object
 6   from_station_id    int64
 7   from_station_name  object
 8   to_station_id      int64
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
dtypes: float64(1), int64(4), object(8)
memory usage: 317.9+ MB

In [6]:
df_2018.head()

,Table Names,trip_id,start_time,bikeid,end_time,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,Divvy_Trips_2018_Q1.csv,17618474,2018-01-23 08:28:40,217,2018-01-23 08:40:14,694,106,State St & Pearson St,195,Columbus Dr & Randolph St,Subscriber,Male,1989.0
1,Divvy_Trips_2018_Q1.csv,17618475,2018-01-23 08:28:40,3117,2018-01-23 08:37:13,513,73,Jefferson St & Monroe St,43,Michigan Ave & Washington St,Subscriber,Male,1981.0
2,Divvy_Trips_2018_Q1.csv,17618480,2018-01-23 08:29:01,6454,2018-01-23 08:33:20,259,247,Shore Dr & 55th St,345,Lake Park Ave & 56th St,Subscriber,Male,1951.0
3,Divvy_Trips_2018_Q1.csv,17618482,2018-01-23 08:29:07,5191,2018-01-23 08:36:49,462,53,Wells St & Huron St,98,LaSalle St & Washington St,Subscriber,Female,1989.0
4,Divvy_Trips_2018_Q1.csv,17618484,2018-01-23 08:29:20,6265,2018-01-23 08:43:40,860,175,Wells St & Polk St,47,State St & Kinzie St,Subscriber,Male,1977.0

In [7]:
df2=pd.read_excel('file:///Users/Sana/Desktop/DVdata/2019divvy.xlsx')

In [8]:
df2_a=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2019/Divvy_Trips_2019_Q2.csv')
df2_b=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2019/Divvy_Trips_2019_Q4.csv')

In [9]:
df_2019= pd.concat([df2,df2_a,df2_b], axis=0 ,ignore_index=True)

In [10]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801204 entries, 0 to 2801203
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            int64
 2   start_time         object
 3   end_time           object
 4   bikeid             int64
 5   tripduration       object
 6   from_station_id    int64
 7   from_station_name  object
 8   to_station_id      int64
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
dtypes: float64(1), int64(4), object(8)
memory usage: 277.8+ MB

In [9]:
df3=pd.read_csv('file:///Users/Sana/Desktop/DVdata/divvy_2020.csv')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275470 entries, 0 to 3275469
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   Table Names         object
 1   ride_id             object
 2   rideable_type       object
 3   started_at          object
 4   ended_at            object
 5   start_station_name  object
 6   start_station_id    int64
 7   end_station_name    object
 8   end_station_id      int64
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  member_casual       object
dtypes: float64(4), int64(2), object(8)
memory usage: 349.9+ MB

In [10]:
df3.rename(columns = {'ride_id':'trip_id','started_at':'start_time','ended_at': 'end_time','start_station_name':'from_station_name','start_station_id':'from_station_id'}, inplace = True)

In [11]:
df3.rename(columns = {'ride_id':'trip_id','started_at':'start_time','ended_at': 'end_time','start_station_name':'from_station_name','start_station_id':'from_station_id'}, inplace = True)

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275470 entries, 0 to 3275469
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            object
 2   rideable_type      object
 3   start_time         object
 4   end_time           object
 5   from_station_name  object
 6   from_station_id    int64
 7   end_station_name   object
 8   end_station_id     int64
 9   start_lat          float64
 10  start_lng          float64
 11  end_lat            float64
 12  end_lng            float64
 13  member_casual      object
dtypes: float64(4), int64(2), object(8)
memory usage: 349.9+ MB

In [13]:
df3.rename(columns = {'member_casual':'usertype'})

,Table Names,trip_id,rideable_type,start_time,end_time,from_station_name,from_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype
0,202005-divvy-tripdata.csv,C6BC009DA3D2F9B2,docked_bike,5/7/2020 5:46:43 PM,5/7/2020 6:17:37 PM,Greenwood Ave & 47th St,252,Greenwood Ave & 47th St,252,41.80980,-87.599400,41.809800,-87.599400,casual
1,202005-divvy-tripdata.csv,0D608B93262EE4BB,docked_bike,5/5/2020 2:23:05 PM,5/5/2020 3:02:22 PM,Glenwood Ave & Touhy Ave,525,Glenwood Ave & Touhy Ave,525,42.01270,-87.666100,42.012700,-87.666100,casual
2,202005-divvy-tripdata.csv,02668AD35674B983,docked_bike,5/27/2020 10:03:52 AM,5/27/2020 10:16:49 AM,Franklin St & Jackson Blvd,36,Wabash Ave & Grand Ave,199,41.87770,-87.635300,41.891500,-87.626800,member
3,202005-divvy-tripdata.csv,7A50CCAF1EDDB28F,docked_bike,5/25/2020 10:47:11 AM,5/25/2020 11:05:40 AM,Clark St & Wrightwood Ave,340,Clark St & Leland Ave,326,41.92950,-87.643100,41.967100,-87.667400,casual
4,202005-divvy-tripdata.csv,2FFCDFDB91FE9A52,docked_bike,5/2/2020 2:11:03 PM,5/2/2020 3:48:21 PM,Kedzie Ave & Milwaukee Ave,260,Kedzie Ave & Milwaukee Ave,260,41.92960,-87.707900,41.929600,-87.707900,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3275465,202006-divvy-tripdata.csv,90122E03AF512FEA,docked_bike,6/16/2020 1:47:42 PM,6/16/2020 1:57:00 PM,Damen Ave & Sunnyside Ave,316,Clark St & Leland Ave,326,41.96325,-87.679258,41.967096,-87.667429,member
3275466,202006-divvy-tripdata.csv,45A6AD98DB6FE897,docked_bike,6/8/2020 2:43:20 PM,6/8/2020 2:49:35 PM,Damen Ave & Sunnyside Ave,316,Ravenswood Ave & Lawrence Ave,344,41.96325,-87.679258,41.969090,-87.674237,member
3275467,202006-divvy-tripdata.csv,08A28F598F988547,docked_bike,6/10/2020 1:01:52 PM,6/10/2020 1:10:44 PM,Damen Ave & Sunnyside Ave,316,Ravenswood Ave & Lawrence Ave,344,41.96325,-87.679258,41.969090,-87.674237,member
3275468,202006-divvy-tripdata.csv,CE9ECB9784120F72,docked_bike,6/11/2020 10:12:44 AM,6/11/2020 10:18:31 AM,Damen Ave & Sunnyside Ave,316,Ravenswood Ave & Lawrence Ave,344,41.96325,-87.679258,41.969090,-87.674237,member
3275469,202006-divvy-tripdata.csv,8ACDC8E1F0B4B105,docked_bike,6/11/2020 2:10:17 PM,6/11/2020 2:17:56 PM,Damen Ave & Sunnyside Ave,316,Ravenswood Ave & Lawrence Ave,344,41.96325,-87.679258,41.969090,-87.674237,member

In [14]:
df3.rename(columns = {'end_station_name':'to_station_name','end_station_id':'to_station_id','member_casual': 'usertype'}, inplace = True)

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275470 entries, 0 to 3275469
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            object
 2   rideable_type      object
 3   start_time         object
 4   end_time           object
 5   from_station_name  object
 6   from_station_id    int64
 7   to_station_name    object
 8   to_station_id      int64
 9   start_lat          float64
 10  start_lng          float64
 11  end_lat            float64
 12  end_lng            float64
 13  usertype           object
dtypes: float64(4), int64(2), object(8)
memory usage: 349.9+ MB

In [16]:
df4=pd.read_excel('file:///Users/Sana/Desktop/DVdata/Divvy_Data2021.xlsx')

In [17]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1048575 non-null  object
 1   rideable_type       1048575 non-null  object
 2   started_at          1048575 non-null  datetime64[ns]
 3   ended_at            1048575 non-null  datetime64[ns]
 4   start_station_name  953318 non-null   object
 5   start_station_id    953319 non-null   object
 6   end_station_name    925183 non-null   object
 7   end_station_id      925183 non-null   object
 8   start_lat           1048575 non-null  float64
 9   start_lng           1048575 non-null  float64
 10  end_lat             1047214 non-null  float64
 11  end_lng             1047214 non-null  float64
 12  member_casual       1048575 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 104.0+ MB

In [19]:
df4.rename(columns = {'end_station_name':'to_station_name','end_station_id':'to_station_id','member_casual': 'usertype'}, inplace = True)

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1048575 non-null  object
 1   rideable_type      1048575 non-null  object
 2   start_time         1048575 non-null  datetime64[ns]
 3   end_time           1048575 non-null  datetime64[ns]
 4   from_station_name  953318 non-null   object
 5   from_station_id    953319 non-null   object
 6   to_station_name    925183 non-null   object
 7   to_station_id      925183 non-null   object
 8   start_lat          1048575 non-null  float64
 9   start_lng          1048575 non-null  float64
 10  end_lat            1047214 non-null  float64
 11  end_lng            1047214 non-null  float64
 12  usertype           1048575 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 104.0+ MB

In [21]:

df3['start_time'] = pd.to_datetime(df3.start_time)

In [22]:
df3['end_time'] = pd.to_datetime(df3.end_time)

In [23]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275470 entries, 0 to 3275469
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            object
 2   rideable_type      object
 3   start_time         datetime64[ns]
 4   end_time           datetime64[ns]
 5   from_station_name  object
 6   from_station_id    int64
 7   to_station_name    object
 8   to_station_id      int64
 9   start_lat          float64
 10  start_lng          float64
 11  end_lat            float64
 12  end_lng            float64
 13  usertype           object
dtypes: datetime64[ns](2), float64(4), int64(2), object(6)
memory usage: 349.9+ MB

In [28]:
df_2019['start_time'] = pd.to_datetime(df_2019.start_time)

In [29]:
df_2019['end_time'] = pd.to_datetime(df_2019.end_time)

In [32]:
df_2018['end_time'] = pd.to_datetime(df_2018.end_time)

In [33]:
df_2018['start_time'] = pd.to_datetime(df_2018.start_time)

In [34]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3204831 entries, 0 to 3204830
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            int64
 2   start_time         datetime64[ns]
 3   bikeid             int64
 4   end_time           datetime64[ns]
 5   tripduration       object
 6   from_station_id    int64
 7   from_station_name  object
 8   to_station_id      int64
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(6)
memory usage: 317.9+ MB

In [35]:
df_combine = pd.concat([df_2018,df_2019,df3,df4], axis=0,ignore_index=True)

In [36]:
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10330080 entries, 0 to 10330079
Data columns (total 18 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            object
 2   start_time         datetime64[ns]
 3   bikeid             float64
 4   end_time           datetime64[ns]
 5   tripduration       object
 6   from_station_id    object
 7   from_station_name  object
 8   to_station_id      object
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
 13  rideable_type      object
 14  start_lat          float64
 15  start_lng          float64
 16  end_lat            float64
 17  end_lng            float64
dtypes: datetime64[ns](2), float64(6), object(10)
memory usage: 1.4+ GB

In [37]:
df_combine.isna().sum()

Table Names          4957460
trip_id                    0
start_time                 0
bikeid               4324045
end_time                   0
tripduration         4324045
from_station_id        95256
from_station_name      95257
to_station_id         123392
to_station_name       123392
usertype                   0
gender               5315422
birthyear            5292120
rideable_type        6006035
start_lat            6006035
start_lng            6006035
end_lat              6007396
end_lng              6007396
dtype: int64

In [38]:
df_clean=df_combine.dropna(subset=['from_station_id', 'from_station_name'], how='all')

In [39]:
df_clean.isna().sum()

Table Names          4862204
trip_id                    0
start_time                 0
bikeid               4228789
end_time                   0
tripduration         4228789
from_station_id            0
from_station_name          1
to_station_id          68398
to_station_name        68398
usertype                   0
gender               5220166
birthyear            5196864
rideable_type        6006035
start_lat            6006035
start_lng            6006035
end_lat              6007396
end_lng              6007396
dtype: int64

In [40]:
df_clean1=df_clean.drop(columns=['Table Names'])

In [47]:
df_processed = pd.read_csv('file:///Users/Sana/Desktop/DVdata/data.csv')

In [48]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9495235 entries, 0 to 9495234
Data columns (total 23 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            int64
 1   year               int64
 2   month              int64
 3   week               int64
 4   day                int64
 5   hour               int64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       float64
 11  temperature        float64
 12  events             object
 13  from_station_id    int64
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  dpcapacity_start   float64
 18  to_station_id      int64
 19  to_station_name    object
 20  latitude_end       float64
 21  longitude_end      float64
 22  dpcapacity_end     float64
dtypes: float64(8), int64(8), object(7)
memory usage: 1.6+ GB

In [49]:
df_processed1=df_processed.drop(columns=['dpcapacity_end','dpcapacity_start'])

In [45]:
df_clean1.rename(columns = {'start_time':'starttime','end_time':'stoptime','start_lat': 'latitude_start','start_lng': 'longitude_start','end_lat': 'latitude_end','end_lng': 'longitude_end'}, inplace = True)

In [46]:
df_clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10234824 entries, 0 to 10330079
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   starttime          datetime64[ns]
 2   bikeid             float64
 3   stoptime           datetime64[ns]
 4   tripduration       object
 5   from_station_id    object
 6   from_station_name  object
 7   to_station_id      object
 8   to_station_name    object
 9   usertype           object
 10  gender             object
 11  birthyear          float64
 12  rideable_type      object
 13  latitude_start     float64
 14  longitude_start    float64
 15  latitude_end       float64
 16  longitude_end      float64
dtypes: datetime64[ns](2), float64(6), object(9)
memory usage: 1.4+ GB

In [47]:
df_allcombined = pd.concat([df_processed1,df_clean1], axis=0,ignore_index=True)

In [48]:
df_allcombined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19730059 entries, 0 to 19730058
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   year               float64
 2   month              float64
 3   week               float64
 4   day                float64
 5   hour               float64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       object
 11  temperature        float64
 12  events             object
 13  from_station_id    object
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  to_station_id      object
 18  to_station_name    object
 19  latitude_end       float64
 20  longitude_end      float64
 21  bikeid             float64
 22  birthyear          float64
 23  rideable_type      object
dtypes: float64(12), object(12)
memory usage: 3.5+ GB

In [50]:
df_clean1.tail()

,trip_id,starttime,bikeid,stoptime,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,rideable_type,latitude_start,longitude_start,latitude_end,longitude_end
10330075,600A83BCF8EEDDAF,2021-07-24 23:18:26,NaN,2021-07-24 23:36:28,NaN,13224,Ashland Ave & Blackhawk St,TA1309000061,Halsted St & Wrightwood Ave,casual,NaN,NaN,classic_bike,41.907066,-87.667252,41.929143,-87.649077
10330076,D7A24D94DFE14EDF,2021-07-25 12:28:12,NaN,2021-07-25 12:36:44,NaN,13229,Southport Ave & Belmont Ave,TA1309000061,Halsted St & Wrightwood Ave,casual,NaN,NaN,classic_bike,41.939478,-87.663748,41.929143,-87.649077
10330077,D4196BE2B92B97EB,2021-07-15 11:51:11,NaN,2021-07-15 12:01:05,NaN,13229,Southport Ave & Belmont Ave,TA1309000061,Halsted St & Wrightwood Ave,casual,NaN,NaN,classic_bike,41.939478,-87.663748,41.929143,-87.649077
10330078,862CFFC144A6DB1B,2021-07-17 17:03:52,NaN,2021-07-17 17:11:00,NaN,13229,Southport Ave & Belmont Ave,TA1309000061,Halsted St & Wrightwood Ave,casual,NaN,NaN,classic_bike,41.939478,-87.663748,41.929143,-87.649077
10330079,B30890C2DC452E03,2021-07-07 18:03:23,NaN,2021-07-07 18:11:43,NaN,13229,Southport Ave & Belmont Ave,TA1309000061,Halsted St & Wrightwood Ave,casual,NaN,NaN,classic_bike,41.939478,-87.663748,41.929143,-87.649077

In [49]:
df_allcombined.to_csv('Divvyfinal_processed.csv', index=False)

In [52]:
months=df3['start_time'].dt.month

months

In [53]:
months

0          5
1          5
2          5
3          5
4          5
          ..
3275465    6
3275466    6
3275467    6
3275468    6
3275469    6
Name: start_time, Length: 3275470, dtype: int64

In [54]:
months=df4['start_time'].dt.month

In [55]:
months

0          1
1          1
2          1
3          1
4          1
          ..
1048570    7
1048571    7
1048572    7
1048573    7
1048574    7
Name: start_time, Length: 1048575, dtype: int64

In [11]:
df_a=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202004-divvy-tripdata.csv')

In [12]:
df_b=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202005-divvy-tripdata.csv')

In [13]:
df_c=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202006-divvy-tripdata.csv')

In [14]:
df_d=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202007-divvy-tripdata.csv')

In [15]:
df_e=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202008-divvy-tripdata.csv')

In [16]:
df_f=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202009-divvy-tripdata.csv')

In [17]:
df_g=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202010-divvy-tripdata.csv')

In [18]:
df_h=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202011-divvy-tripdata.csv')

In [19]:
df_i=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/202012-divvy-tripdata.csv')

In [20]:
df_j=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2020/Divvy_Trips_2020_Q1.csv')

In [22]:
df_2020= pd.concat([df_a,df_b,df_c,df_d,df_e,df_f,df_g,df_h,df_i,df_j], axis=0,ignore_index=True)

In [23]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3541683 entries, 0 to 3541682
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 351.3+ MB

In [24]:
df_2020.rename(columns = {'end_station_name':'to_station_name','end_station_id':'to_station_id','member_casual': 'usertype'}, inplace = True)

In [25]:
df_2020.rename(columns = {'ride_id':'trip_id','started_at':'start_time','ended_at': 'end_time','start_station_name':'from_station_name','start_station_id':'from_station_id'}, inplace = True)

In [26]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3541683 entries, 0 to 3541682
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   rideable_type      object
 2   start_time         object
 3   end_time           object
 4   from_station_name  object
 5   from_station_id    object
 6   to_station_name    object
 7   to_station_id      object
 8   start_lat          float64
 9   start_lng          float64
 10  end_lat            float64
 11  end_lng            float64
 12  usertype           object
dtypes: float64(4), object(9)
memory usage: 351.3+ MB

In [75]:
df_2020['end_time'] = pd.to_datetime(df_2020.end_time)

In [77]:
df_2020['start_time'] = pd.to_datetime(df_2020.start_time)

In [78]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3541683 entries, 0 to 3541682
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   rideable_type      object
 2   start_time         datetime64[ns]
 3   end_time           datetime64[ns]
 4   from_station_name  object
 5   from_station_id    object
 6   to_station_name    object
 7   to_station_id      object
 8   start_lat          float64
 9   start_lng          float64
 10  end_lat            float64
 11  end_lng            float64
 12  usertype           object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 351.3+ MB

In [27]:
df_21a=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202101-divvy-tripdata.csv')

In [28]:
df_21b=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202102-divvy-tripdata.csv')

In [29]:
df_21c=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202103-divvy-tripdata.csv')

In [30]:
df_21d=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202104-divvy-tripdata.csv')

In [31]:
df_21e=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202105-divvy-tripdata.csv')

In [32]:
df_21f=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202106-divvy-tripdata.csv')

In [33]:
df_21g=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202107-divvy-tripdata.csv')

In [34]:
df_21h=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202108-divvy-tripdata.csv')

In [35]:
df_21i=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202109-divvy-tripdata.csv')

In [36]:
df_21j=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202110-divvy-tripdata.csv')

In [37]:
df_21k=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202111-divvy-tripdata.csv')

In [38]:
df_21l=pd.read_csv('file:///Users/Sana/Desktop/DVdata/2021/202112-divvy-tripdata.csv')

In [39]:
df_2021= pd.concat([df_21a,df_21b,df_21c,df_21d,df_21e,df_21f,df_21g,df_21h,df_21i,df_21j,df_21k,df_21l], axis=0,ignore_index=True)

In [40]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595063 entries, 0 to 5595062
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 554.9+ MB

In [41]:
df_2021.rename(columns = {'end_station_name':'to_station_name','end_station_id':'to_station_id','member_casual': 'usertype'}, inplace = True)

In [42]:
df_2021.rename(columns = {'ride_id':'trip_id','started_at':'start_time','ended_at': 'end_time','start_station_name':'from_station_name','start_station_id':'from_station_id'}, inplace = True)

In [95]:
df_2021['end_time'] = pd.to_datetime(df_2021.end_time)
df_2021['start_time'] = pd.to_datetime(df_2021.start_time)

In [43]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595063 entries, 0 to 5595062
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   rideable_type      object
 2   start_time         object
 3   end_time           object
 4   from_station_name  object
 5   from_station_id    object
 6   to_station_name    object
 7   to_station_id      object
 8   start_lat          float64
 9   start_lng          float64
 10  end_lat            float64
 11  end_lng            float64
 12  usertype           object
dtypes: float64(4), object(9)
memory usage: 554.9+ MB

In [98]:
df_finalcombine = pd.concat([df_2018,df_2019,df_2020,df_2019], axis=0,ignore_index=True)

In [99]:
df_finalcombine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11608443 entries, 0 to 11608442
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            int64
 2   start_time         datetime64[ns]
 3   bikeid             int64
 4   end_time           datetime64[ns]
 5   tripduration       object
 6   from_station_id    int64
 7   from_station_name  object
 8   to_station_id      int64
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(6)
memory usage: 1.1+ GB

In [100]:
df_finalcombine.rename(columns = {'start_time':'starttime','end_time':'stoptime','start_lat': 'latitude_start','start_lng': 'longitude_start','end_lat': 'latitude_end','end_lng': 'longitude_end'}, inplace = True)

In [101]:
df_finalcombine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11608443 entries, 0 to 11608442
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            int64
 2   starttime          datetime64[ns]
 3   bikeid             int64
 4   stoptime           datetime64[ns]
 5   tripduration       object
 6   from_station_id    int64
 7   from_station_name  object
 8   to_station_id      int64
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(6)
memory usage: 1.1+ GB

In [102]:
df_alldata = pd.concat([df_processed1,df_finalcombine], axis=0,ignore_index=True)

In [103]:
df_alldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21103678 entries, 0 to 21103677
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            int64
 1   year               float64
 2   month              float64
 3   week               float64
 4   day                float64
 5   hour               float64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       object
 11  temperature        float64
 12  events             object
 13  from_station_id    int64
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  to_station_id      int64
 18  to_station_name    object
 19  latitude_end       float64
 20  longitude_end      float64
 21  Table Names        object
 22  bikeid             float64
 23  birthyear          float64
dtypes: float64(12), int64(3), object(9)
memory usage: 3.8+ GB

In [105]:
df_alldata.to_csv('Divvy_dataf.csv', index=True)

In [106]:
df_2020.head()

,trip_id,rideable_type,start_time,end_time,from_station_name,from_station_id,to_station_name,to_station_id,start_lat,start_lng,end_lat,end_lng,usertype
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.8902,-87.6262,41.9695,-87.6547,casual

In [107]:
df_2018.head()

,Table Names,trip_id,start_time,bikeid,end_time,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,Divvy_Trips_2018_Q1.csv,17618474,2018-01-23 08:28:40,217,2018-01-23 08:40:14,694,106,State St & Pearson St,195,Columbus Dr & Randolph St,Subscriber,Male,1989.0
1,Divvy_Trips_2018_Q1.csv,17618475,2018-01-23 08:28:40,3117,2018-01-23 08:37:13,513,73,Jefferson St & Monroe St,43,Michigan Ave & Washington St,Subscriber,Male,1981.0
2,Divvy_Trips_2018_Q1.csv,17618480,2018-01-23 08:29:01,6454,2018-01-23 08:33:20,259,247,Shore Dr & 55th St,345,Lake Park Ave & 56th St,Subscriber,Male,1951.0
3,Divvy_Trips_2018_Q1.csv,17618482,2018-01-23 08:29:07,5191,2018-01-23 08:36:49,462,53,Wells St & Huron St,98,LaSalle St & Washington St,Subscriber,Female,1989.0
4,Divvy_Trips_2018_Q1.csv,17618484,2018-01-23 08:29:20,6265,2018-01-23 08:43:40,860,175,Wells St & Polk St,47,State St & Kinzie St,Subscriber,Male,1977.0

In [109]:
df_alldata.tail()

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_name,latitude_start,longitude_start,to_station_id,to_station_name,latitude_end,longitude_end,Table Names,bikeid,birthyear
21103673,25962900,NaN,NaN,NaN,NaN,NaN,Subscriber,Male,2019-12-31 23:56:13,2020-01-01 00:15:45,...,Green St & Randolph St,NaN,NaN,225,Halsted St & Dickens Ave,NaN,NaN,NaN,2196.0,1981.0
21103674,25962901,NaN,NaN,NaN,NaN,NaN,Subscriber,Male,2019-12-31 23:56:34,2020-01-01 00:22:08,...,Millennium Park,NaN,NaN,90,Millennium Park,NaN,NaN,NaN,4877.0,1992.0
21103675,25962902,NaN,NaN,NaN,NaN,NaN,Subscriber,Male,2019-12-31 23:57:05,2020-01-01 00:05:46,...,Michigan Ave & 8th St,NaN,NaN,52,Michigan Ave & Lake St,NaN,NaN,NaN,863.0,1967.0
21103676,25962903,NaN,NaN,NaN,NaN,NaN,Subscriber,Female,2019-12-31 23:57:11,2020-01-01 00:05:45,...,Michigan Ave & 8th St,NaN,NaN,52,Michigan Ave & Lake St,NaN,NaN,NaN,2637.0,1970.0
21103677,25962904,NaN,NaN,NaN,NaN,NaN,Subscriber,Male,2019-12-31 23:57:17,2019-12-31 23:59:18,...,Broadway & Sheridan Rd,NaN,NaN,240,Sheridan Rd & Irving Park Rd,NaN,NaN,NaN,5930.0,1982.0

In [110]:
df_finalcombine.tail()

,Table Names,trip_id,starttime,bikeid,stoptime,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
11608438,NaN,25962900,2019-12-31 23:56:13,2196,2020-01-01 00:15:45,"1,172.0",112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
11608439,NaN,25962901,2019-12-31 23:56:34,4877,2020-01-01 00:22:08,"1,533.0",90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0
11608440,NaN,25962902,2019-12-31 23:57:05,863,2020-01-01 00:05:46,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
11608441,NaN,25962903,2019-12-31 23:57:11,2637,2020-01-01 00:05:45,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
11608442,NaN,25962904,2019-12-31 23:57:17,5930,2019-12-31 23:59:18,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [112]:
year=df_finalcombine['starttime'].dt.year

In [113]:
year

0           2018
1           2018
2           2018
3           2018
4           2018
            ...
11608438    2019
11608439    2019
11608440    2019
11608441    2019
11608442    2019
Name: starttime, Length: 11608443, dtype: int64

In [44]:
df_final = pd.concat([df_2018,df_2019,df_2020,df_2021], axis=0,ignore_index=True)

In [45]:
df_final.rename(columns = {'start_time':'starttime','end_time':'stoptime','start_lat': 'latitude_start','start_lng': 'longitude_start','end_lat': 'latitude_end','end_lng': 'longitude_end'}, inplace = True)

In [46]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15142781 entries, 0 to 15142780
Data columns (total 18 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            object
 2   starttime          object
 3   bikeid             float64
 4   stoptime           object
 5   tripduration       object
 6   from_station_id    object
 7   from_station_name  object
 8   to_station_id      object
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
 13  rideable_type      object
 14  latitude_start     float64
 15  longitude_start    float64
 16  latitude_end       float64
 17  longitude_end      float64
dtypes: float64(6), object(12)
memory usage: 2.0+ GB

In [117]:
df = pd.concat([df_processed1,df_final], axis=0,ignore_index=True)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24638016 entries, 0 to 24638015
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   year               float64
 2   month              float64
 3   week               float64
 4   day                float64
 5   hour               float64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       object
 11  temperature        float64
 12  events             object
 13  from_station_id    object
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  to_station_id      object
 18  to_station_name    object
 19  latitude_end       float64
 20  longitude_end      float64
 21  Table Names        object
 22  bikeid             float64
 23  birthyear          float64
 24  rideable_type      object
dtypes: float64(12), object(13)
memory usage: 4.6+ GB

In [ ]:
df_columndrop=df.drop(columns=['Table Names'])

NameError: name 'df' is not defined

In [50]:
df_processed1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9495235 entries, 0 to 9495234
Data columns (total 21 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            int64
 1   year               int64
 2   month              int64
 3   week               int64
 4   day                int64
 5   hour               int64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       float64
 11  temperature        float64
 12  events             object
 13  from_station_id    int64
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  to_station_id      int64
 18  to_station_name    object
 19  latitude_end       float64
 20  longitude_end      float64
dtypes: float64(6), int64(8), object(7)
memory usage: 1.5+ GB

In [51]:
df_final .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15142781 entries, 0 to 15142780
Data columns (total 18 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            object
 2   starttime          object
 3   bikeid             float64
 4   stoptime           object
 5   tripduration       object
 6   from_station_id    object
 7   from_station_name  object
 8   to_station_id      object
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
 13  rideable_type      object
 14  latitude_start     float64
 15  longitude_start    float64
 16  latitude_end       float64
 17  longitude_end      float64
dtypes: float64(6), object(12)
memory usage: 2.0+ GB

In [52]:
df_final1=df_final.drop(columns=['Table Names'])

In [53]:
df_final1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15142781 entries, 0 to 15142780
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   starttime          object
 2   bikeid             float64
 3   stoptime           object
 4   tripduration       object
 5   from_station_id    object
 6   from_station_name  object
 7   to_station_id      object
 8   to_station_name    object
 9   usertype           object
 10  gender             object
 11  birthyear          float64
 12  rideable_type      object
 13  latitude_start     float64
 14  longitude_start    float64
 15  latitude_end       float64
 16  longitude_end      float64
dtypes: float64(6), object(11)
memory usage: 1.9+ GB

In [54]:
df = pd.concat([df_processed1,df_final1], axis=0,ignore_index=True)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24638016 entries, 0 to 24638015
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   year               float64
 2   month              float64
 3   week               float64
 4   day                float64
 5   hour               float64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       object
 11  temperature        float64
 12  events             object
 13  from_station_id    object
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  to_station_id      object
 18  to_station_name    object
 19  latitude_end       float64
 20  longitude_end      float64
 21  bikeid             float64
 22  birthyear          float64
 23  rideable_type      object
dtypes: float64(12), object(12)
memory usage: 4.4+ GB

In [56]:
df.to_csv('ridesharedata.csv', index=True)

In [57]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801204 entries, 0 to 2801203
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            int64
 2   start_time         object
 3   end_time           object
 4   bikeid             int64
 5   tripduration       object
 6   from_station_id    int64
 7   from_station_name  object
 8   to_station_id      int64
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
dtypes: float64(1), int64(4), object(8)
memory usage: 277.8+ MB

In [58]:
df_clean=df.dropna(subset=['from_station_id', 'from_station_name'], how='all')

In [61]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23852554 entries, 0 to 24638015
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            object
 1   year               float64
 2   month              float64
 3   week               float64
 4   day                float64
 5   hour               float64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       object
 11  temperature        float64
 12  events             object
 13  from_station_id    object
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  to_station_id      object
 18  to_station_name    object
 19  latitude_end       float64
 20  longitude_end      float64
 21  bikeid             float64
 22  birthyear          float64
 23  rideable_type      object
dtypes: float64(12), object(12)
memory usage: 4.4+ GB

In [63]:
df_clean.to_csv('ridesharedataclean.csv', index=True)

In [64]:
df_clean.isna().sum()

trip_id                     0
year                 14357319
month                14357319
week                 14357319
day                  14357319
hour                 14357319
usertype                    0
gender                9342661
starttime                   0
stoptime                    0
tripduration          8351284
temperature          14357319
events               14357319
from_station_id           626
from_station_name           3
latitude_start        6006035
longitude_start       6006035
to_station_id          373132
to_station_name        372728
latitude_end          6015061
longitude_end         6015061
bikeid               17846519
birthyear            18814594
rideable_type        15501270
dtype: int64

In [65]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801204 entries, 0 to 2801203
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Table Names        object
 1   trip_id            int64
 2   start_time         object
 3   end_time           object
 4   bikeid             int64
 5   tripduration       object
 6   from_station_id    int64
 7   from_station_name  object
 8   to_station_id      int64
 9   to_station_name    object
 10  usertype           object
 11  gender             object
 12  birthyear          float64
dtypes: float64(1), int64(4), object(8)
memory usage: 277.8+ MB

In [2]:
import pandas as pd
df1=pd.read_csv('file:///Users/Sana/Desktop/DVProject/Ridesharedataclean.csv')

/Users/Sana/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,8,11,13,14,18,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23852554 entries, 0 to 23852553
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   trip_id            object
 2   year               float64
 3   month              float64
 4   week               float64
 5   day                float64
 6   hour               float64
 7   usertype           object
 8   gender             object
 9   starttime          object
 10  stoptime           object
 11  tripduration       object
 12  temperature        float64
 13  events             object
 14  from_station_id    object
 15  from_station_name  object
 16  latitude_start     float64
 17  longitude_start    float64
 18  to_station_id      object
 19  to_station_name    object
 20  latitude_end       float64
 21  longitude_end      float64
 22  bikeid             float64
 23  birthyear          float64
 24  rideable_type      object
dtypes: float64(12), int64(1), object(12)
memory usage: 4.4+ GB

In [5]:
df1['starttime'] = pd.to_datetime(df1.starttime)
df1['stoptime'] = pd.to_datetime(df1.stoptime)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23852554 entries, 0 to 23852553
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   trip_id            object
 2   year               float64
 3   month              float64
 4   week               float64
 5   day                float64
 6   hour               float64
 7   usertype           object
 8   gender             object
 9   starttime          datetime64[ns]
 10  stoptime           datetime64[ns]
 11  tripduration       object
 12  temperature        float64
 13  events             object
 14  from_station_id    object
 15  from_station_name  object
 16  latitude_start     float64
 17  longitude_start    float64
 18  to_station_id      object
 19  to_station_name    object
 20  latitude_end       float64
 21  longitude_end      float64
 22  bikeid             float64
 23  birthyear          float64
 24  rideable_type      object
dtypes: datetime64[ns](2), float64(12), int64(1), object(10)
memory usage: 4.4+ GB

In [8]:
df2=df1.drop(columns=['year','month','week','day','hour'])

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23852554 entries, 0 to 23852553
Data columns (total 20 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   trip_id            object
 2   usertype           object
 3   gender             object
 4   starttime          datetime64[ns]
 5   stoptime           datetime64[ns]
 6   tripduration       object
 7   temperature        float64
 8   events             object
 9   from_station_id    object
 10  from_station_name  object
 11  latitude_start     float64
 12  longitude_start    float64
 13  to_station_id      object
 14  to_station_name    object
 15  latitude_end       float64
 16  longitude_end      float64
 17  bikeid             float64
 18  birthyear          float64
 19  rideable_type      object
dtypes: datetime64[ns](2), float64(7), int64(1), object(10)
memory usage: 3.6+ GB

In [10]:
data_2019= df1[df1.starttime.dt.year.eq(2019)]

In [11]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2801204 entries, 12700066 to 15501269
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   trip_id            object
 2   year               float64
 3   month              float64
 4   week               float64
 5   day                float64
 6   hour               float64
 7   usertype           object
 8   gender             object
 9   starttime          datetime64[ns]
 10  stoptime           datetime64[ns]
 11  tripduration       object
 12  temperature        float64
 13  events             object
 14  from_station_id    object
 15  from_station_name  object
 16  latitude_start     float64
 17  longitude_start    float64
 18  to_station_id      object
 19  to_station_name    object
 20  latitude_end       float64
 21  longitude_end      float64
 22  bikeid             float64
 23  birthyear          float64
 24  rideable_type      object
dtypes: datetime64[ns](2), float64(12), int64(1), object(10)
memory usage: 555.7+ MB

In [12]:
data_2019.isna().sum()

Unnamed: 0                 0
trip_id                    0
year                 2801204
month                2801204
week                 2801204
day                  2801204
hour                 2801204
usertype                   0
gender                443763
starttime                  0
stoptime                   0
tripduration               0
temperature          2801204
events               2801204
from_station_id            0
from_station_name          0
latitude_start       2801204
longitude_start      2801204
to_station_id              0
to_station_name            0
latitude_end         2801204
longitude_end        2801204
bikeid                     0
birthyear             427539
rideable_type        2801204
dtype: int64